.cart_totals {
    a.button{
        @include flex;
        justify-content: center;
        margin: 0;
        margin-top: 10px;
    }
}

.cart-button{
    .woocommerce-mini-cart__buttons{
        @include flex;
    }
    a.button{
        @include button-expand(true);
        margin: 0;
        &.checkout {
            display: none;
        }
    }
}